<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a13c8370-6e21-4075-82d1-bac4e8dd4fcf/resourcegroups/JupiterStore/providers/Microsoft.Web/sites/JupiterStore</ResourceId>
    <ResourceGroup>JupiterStore</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jupiterstore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jupiterstore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JupiterStore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Tpessia</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:jupiterstore.database.windows.net,1433;Initial Catalog=JupiterStore_db;User ID=Tpessia@jupiterstore;Password=Thiago9713" Name="Data Source=tcp:jupiterstore.database.windows.net,1433;Initial Catalog=JupiterStore_db;User Id=Tpessia@jupiterstore;Password=Thiago9713" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Júpiter_Store.Models.ApplicationDbContext, Júpiter Store" MigrationConfiguration="Júpiter_Store.Migrations.Configuration, Júpiter Store" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jupiterstore.database.windows.net,1433;Initial Catalog=JupiterStore_db;User Id=Tpessia@jupiterstore;Password=Thiago9713</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>